div.ParalaxFont {
  background: url("../../space.webp") no-repeat center center fixed;
  box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
  pointer-events: none;
  user-select: none;
}

img.ParalaxLogo {
  filter: invert(100%);
  animation: fadeIn 2s ease-in-out forwards;
  pointer-events: none;
  user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
