.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(8, 8, 8, 0.3);
}

.content {
  padding: 20px;
  background: white;
  border-radius: 16px;
  min-width: 256px;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
