.ControlButton {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 15px;
  cursor: pointer;
  margin: 0 5px;
}

.ControlButton:hover {
  border: 1px solid blue;
  color: blue;
}

.active {
  background-color: blue;
}
